.publications {
    margin: 20px;
  }
  
  .publication-entry {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .publication-image {
    width: 100px;  /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 20px;
  }
  
  .publication-info {
    flex-grow: 1;
  }